<div class="pt-2 flex flex-row justify-center pt-10">
    <div class="mt-10 sm:mt-0 flex-col pr-2">
        <div class="mt-5 md:mt-0 md:col-span-3">
            <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Recip Information</h3>
                </div>
            </div>
            <form [formGroup]="recipForm" (ngSubmit)="doAddRecip(recipForm.value)">
                <div class="shadow overflow-hidden sm:rounded-md">
                    <div class="px-4 py-5 bg-white sm:p-6 flex">
                        <div class="flex-col pr-8">
                            <div class="flex-row">
                                <label for="recipName"
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">Name:</label>
                                <input formControlName="recipName" id="recipName" type="text" required
                                    class="mt-1 px-2 w-full focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="flex-row">
                                <label for="recipCountry"
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">Country:</label>
                                <input formControlName="recipCountry" id="recipCountry" type="text" required
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="flex-row">
                                <label for="recipUnit"
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">Unit:</label>
                                <input formControlName="recipUnit" id="recipUnit" type="text"
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="flex-row">
                                <label for="recipHundredUnit"
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">Hundred
                                    unit:</label>
                                <input formControlName="recipHundredUnit" id="recipHundredUnit" type="text"
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                        </div>
                        <div class="flex-col pl-8">
                            <div class="flex-row">
                                <label for="recipPortionUnit"
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">Portion
                                    unit:</label>
                                <input formControlName="recipPortionUnit" id="recipPortionUnit" type="text"
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="flex-row">
                                <label for="recipQuantity"
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">Quantity:</label>
                                <input formControlName="recipQuantity" id="recipQuantity" type="text"
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="flex-row">
                                <label for="recipPortionQuantity"
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">Portion
                                    quantity:</label>
                                <input formControlName="recipPortionQuantity" id="recipPortionQuantity" type="text"
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="flex-row">
                                <label for="recipAlcoholByVolume"
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">Alcohol
                                    by volume:</label>
                                <input formControlName="recipAlcoholByVolume" id="recipAlcoholByVolume" type="text"
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                        </div>
                    </div>
                    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                        <button type="submit"
                            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                            [disabled]="!recipForm.valid">
                            Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="mt-10 sm:mt-0 flex-col pl-2">
        <div class="mt-5 md:mt-0 md:col-span-3">
            <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Nutrient Information</h3>
                </div>
                <div x-data="{ open: false }" x-on:keydown.window.escape="open = false" x-on:click.away="open = false"
                    class="relative inline-block text-left">
                    <div>
                        <button x-on:click="open = !open" type="button"
                            class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
                            id="options-menu" aria-haspopup="true" x-bind:aria-expanded="open">
                            Options
                            <svg class="-mr-1 ml-2 h-5 w-5" x-description="Heroicon name: solid/chevron-down"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>

                    <div x-show="open" x-transition:enter="transition ease-out duration-100"
                        x-transition:enter-start="transform opacity-0 scale-95"
                        x-transition:enter-end="transform opacity-100 scale-100"
                        x-transition:leave="transition ease-in duration-75"
                        x-transition:leave-start="transform opacity-100 scale-100"
                        x-transition:leave-end="transform opacity-0 scale-95"
                        class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5"
                        style="display: none;">
                        <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                            <button x-on:click="open = !open" type="button" (click)="doChangeDataForInfo(1)"
                                class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="menuitem">Protein</button>
                            <button x-on:click="open = !open" type="button" (click)="doChangeDataForInfo(2)"
                                class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="menuitem">Carbohydrates</button>
                            <button x-on:click="open = !open" type="button" (click)="doChangeDataForInfo(3)"
                                class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="menuitem">Energy</button>
                            <button x-on:click="open = !open" type="button" (click)="doChangeDataForInfo(4)"
                                class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="menuitem">Energy kcal</button>
                            <button x-on:click="open = !open" type="button" (click)="doChangeDataForInfo(5)"
                                class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="menuitem">Fat</button>
                            <button x-on:click="open = !open" type="button" (click)="doChangeDataForInfo(6)"
                                class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="menuitem">Fiber</button>
                            <button x-on:click="open = !open" type="button" (click)="doChangeDataForInfo(7)"
                                class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="menuitem">Salt</button>
                            <button x-on:click="open = !open" type="button" (click)="doChangeDataForInfo(8)"
                                class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="menuitem">Saturated fat</button>
                            <button x-on:click="open = !open" type="button" (click)="doChangeDataForInfo(9)"
                                class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="menuitem">Sodium</button>
                            <button x-on:click="open = !open" type="button" (click)="doChangeDataForInfo(10)"
                                class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                role="menuitem">Sugars</button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both; display: block; height: 0px;"></div>
            <form [formGroup]="nutrientInfoForm" (ngSubmit)="doAddNutrientInfo(nutrientInfoForm.value)">
                <div class="shadow overflow-hidden sm:rounded-md">
                    <div class="px-4 py-5 bg-white sm:p-6 flex">
                        <div class="flex-col pr-8">
                            <div class="flex-row">
                                <label for="infoName" class="text-sm font-medium text-gray-700">Name:</label>
                                <input formControlName="infoName" id="infoName" type="text"
                                    class="mt-1 px-2 w-24 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="flex-row">
                                <label for="infoUnit" class="text-sm font-medium text-gray-700">Unit:</label>
                                <input formControlName="infoUnit" id="infoUnit" type="text"
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="flex-row">
                                <label for="infoPerHundred" class="text-sm font-medium text-gray-700">Hundred
                                    unit:</label>
                                <input formControlName="infoPerHundred" id="infoPerHundred" type="text"
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                        </div>
                        <div class="flex-col pl-8">
                            <div class="flex-row">
                                <label for="infoPerPortion" class="text-sm font-medium text-gray-700">Portion
                                    unit:</label>
                                <input formControlName="infoPerPortion" id="infoPerPortion" type="text"
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="flex-row">
                                <label for="infoPerDay" class="text-sm font-medium text-gray-700">Per
                                    day:</label>
                                <input formControlName="infoPerDay" id="infoPerDay" type="text"
                                    class="mt-1 px-2 w-12 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                    <button type="submit"
                        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                        [disabled]="!nutrientInfoForm.valid">
                        Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>